@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #ecf0f3;
  padding-top: 3rem;
}

.pokefont {
  font-family: 'VT323', monospace;
}
